* {
    padding: 0px;
    margin: 0px;
}

.main {
    height: 230px;
    width: 210px;
    margin: 100px auto;
}

input[type="text"] {
    height: 28px;
    width: 177px;
    margin-bottom: 8px;
    text-align: right;
    font-size: 20px;
    padding-right: 3px;
    color: black;
}

input[type="button"] {
    width: 38px;
    height: 33px;
    line-height: 33px;
    margin-right: 6px;
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
    color: black;
}

.div2 input[type="button"]:hover {
    background-color: orange;
    overflow: hidden;
}